html{
    scroll-behavior: smooth;
}
html, body {
    position: relative;
    overflow-x: hidden;
}
body{
    color: #bfc0c0;
    background-image: url(../media/deadpool.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    background-repeat: no-repeat;
    font-family: 'Lustria', serif;
}
.homeloc{
    position: absolute;
    top: -40px;
}
.phone-nav{
    position: fixed;
    height: 250px;
    width:100%;
    top:-250px;
    z-index: 1;
    border-bottom: 2px solid #F47920;
    text-align: center;
    transition: all .2s linear 0s;
    background-color: #2d363b;
    color: #F47920;
}
.expanded{
    position: fixed;
    top:0;
}
.droparrow{
    position: relative;
    display: inline-block;
    top: -10px;
    width: 50px;
    border-radius: 0px 0px 10px 10px;
    padding: 40px 10px 0px 10px;
    color: #000;
    background-color: #f2edea61;
}
.phone-nav ul{
     padding: initial;
     list-style: none;
     padding-left: 20px;
     line-height: 2.35;
     text-transform: capitalize;
     font-size: 26px;
     text-align: left;
}
.dropcontent li:last-child{
    border-bottom: none;
}
.dropcontent li{
    margin-right: 4%;
    border-bottom: #f1ebe74d solid 2px;
}
.dropcontent a{
    color: #F47920;
}
.wrapper1{
    position: fixed;
    z-index: 5;
    top: 0; left: 0;
    width:100%;
    padding-top: 10px;
    background-color: #2d363b;
    border-bottom:2px solid #f47920;
    height: 38px;
    box-shadow: 1px 15px 19px #000;
}
.wrapper1 ul{
    text-align: center;
}
.wrapper1 li{
    display: inline;
    margin-right: 10px;
}
.wrapper1 a{
    text-decoration: none;
    text-transform: capitalize;
    color:#f47920;
    font-size: 1.4vw;
}
.wrapper1 a:hover{
    text-shadow: 0px 0px 6px #f47920;
}
@media (max-width:424px){
    .wrapper1 a{
        font-size: 11px;
    }
}
.wrapper2{
    overflow: hidden;
    padding-top: 100px;
    text-shadow: #000 1px 1px;
    text-align: center;
    color:#FF9F1C;
}
.hero{
    width:200px;
    height:200px;
    left:0;
    right:0;
    border-radius:50%;
    margin-bottom: 10px;
    box-shadow: #000 0px 10px 11px 4px;
    animation:hero-fade 1s;
    transform: scale(1.2)
}
@keyframes hero-fade{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity:1;
        transform: scale(1.2);
    }
}
.myintro{
    font-size:4.5vw;
    text-transform: capitalize;
}
@media (min-width:767px){
    .myintro{
        font-size: 3.5vw;
    }
}
.wid{
    font-size: 3vw;
    border-bottom: 3px solid #F47920;
}
.wrapper3{
    /* background-color: #F47920; */
    position: relative;
    height: 150px;
    padding-top: 90px;
    text-align: center;
    animation: wrapper3 1s 1s forwards;
}
.aboutloc{
    position: absolute;
    top: 20px;
}
@keyframes wrapper3{
    to {
        transform: translateX(0);
    }
}
.wrapper4{
    padding-top: 200px;
    padding-bottom: 200px;
}
.bar{
    position: relative;
    top: 0;
    height: 20px;
    width: 100%;
}
.overlay{
    position: relative;
    overflow: hidden;
    margin-top: 40px;
    height: 97%;
    width: 97%;
    padding:15px;
    font-size: 12px;
    background-color: #2d363b;
    border: solid 2px #F47920;
    box-shadow: 0px 13px 10px 10px #000;
    animation: overt 3s 1;
}
.wrapper4 .overlay:hover{
    box-shadow: 0px 0px 10px 3px #f47920;
    animation:imgbounce 0.2s infinite;
}
.wrapper4 h2{
    
    border-bottom: #bcbebe solid 2px;
    text-transform: capitalize;

}
@keyframes imgbounce{
    0%{
        transform: rotate(-0.2deg) scale(1.125);
        opacity: 1;
    }
    50%{
        transform: rotate(0.2deg) scale(1.125);
        opacity: 1;
    }
    100%{
        transform: rotate(-0.2deg) scale(1.125);
        opacity: 1;
    }
}
.view-code a{
    position: absolute;
    height: 42px;
    width: 100%;
    bottom: 15px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    color: honeydew;
    background-color: #f479206b;
}
@media (min-width:375px){
    .view-code a{
        width: 91%;
    }
}
@media (min-width:768px){
    .view-code a{
        width:85.5%;
    }
}
 @media (min-width:1024px){
    .view-code a{
        width:89.5%;
    }
}
@media(min-width:1440px){
    .view-code a{
        width: 91.5%;
    }
}
.project-name{
    text-align: center;
    text-transform: capitalize;
}
.wrapper5{
    height: 150px;
    padding-top: 35px;
    border-top: 5px solid #f47920;
    text-align: center;
    background-color:  #2d363b;
}
.wrapper5 ul{
    padding-left:0;
    padding-right:0;
}
.wrapper5 li{
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 2px 15px black;
    list-style: none;
    border: 2px solid #f47920;
    background-color: #2d363b;
}
.wrapper5 li:active{
    transform: translateY(5px);
    box-shadow: 0 10px #fff;
}
.wrapper5 li:hover{
    box-shadow: 0px 2px 15px #f47920;
    color: #F47920;
    list-style: none;

}
.github a{
    font-size: 24px;
    color: #f47920;
    border:none;
}
.github{
    padding: 27px 30px;
    margin: 0px 15%;
}
@media (max-width:767px){
    .github{
        padding:11px 14px;
    }
}
.linkedin a{
    border:none;
    font-size: 24px;
    color: #F47920;
}
.linkedin{
    padding:27px 32px;
}
@media (max-width:767px){
    .linkedin{
        padding:11px 14px;
    }
}
.email i{
    border:none;
    color: #f47920;
    font-size: 24px;
}
.email{
    padding: 32px;
}
@media (max-width:767px){
    .email{
        padding:14px;
    }
}
.about{
    box-shadow: 0px 14px 17px black;
    background:linear-gradient(#cf6519, #f47920,#cf6519);
}
#myemail{
    position: absolute;
    border-radius: 0px;
    bottom: 44%;
    z-index: 1;
    right: 20%;
    display: none;
}
@media (min-width:375px){
    #myemail{
        bottom:125%;
        right:30%;
    }
}
@media (min-width:768px){
    #myemail{
        bottom:115%;
        right:38%;
    }
}
@media (min-width:1024px){
    #myemail{
        bottom:115%;
        right:40.5%;
    }
}
@media (min-width:1440px){
    #myemail{
        bottom:110%;
        right:39.5%;
        font-size: 18px;
    }
}